h1,
h2,
h3,
p,
button {
  mix-blend-mode: difference;
  color: #c4c4c4;
  margin: 0;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: Numans;
}
h1 {
  font-size: 8em;
  text-transform: uppercase;
  display: inline;
}
h2 {
  font-size: 3em;
}
h3,
p {
  font-size: 2em;
}
p {
  font-size: 1.5em;
  line-height: 24px;
  display: inline;
  font-family: Raleway;
}
a {
  font-size: 1.5em;
}
