$this: #1F5B30;
$that: #1E98C9;
$tertiary: #C4C4C4;
$background: #F5D1D1;
$text: #2E2E2E;

h1,h2,h3,p, button {
  color: $background;
  margin: 0;
  line-height: 100%;
  font-style: normal;
font-weight: normal;
font-family: Numans;
}

.intro {
  mix-blend-mode: difference;
  color: $tertiary;
}

h1 {
  mix-blend-mode: difference;
  color: $tertiary;
  font-size: 8em;
  text-transform: uppercase;
  display: inline;
}

h2 {
  font-size: 3em;
}

h3, p {
  font-size: 2em;
}

p {
  font-size: 1.5em;
  line-height: 24px;
  display: inline;
  font-family: Raleway;
}

a {
  font-size: 1.5em;
  font-family: Raleway;

  &:visited {
    color: $text;
  }
}

img {
  height: auto;
  width: auto;
  display: block;
}

input, textarea {
  margin-left: 6px;
  background: none;
  border: none;
  border-bottom: $background solid 1px;
  width: 326px;
  max-width: 326px;
  min-width: 326px;
  max-height: 250px;
  color: $background;
  font-family: Raleway;
  font-size: 1.5em;
  
  &:focus {
    outline: none;
  }
}



