h1,
h2,
h3,
p,
button {
  color: #f5d1d1;
  margin: 0;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: Numans;
}
.intro {
  mix-blend-mode: difference;
  color: #c4c4c4;
}
h1 {
  mix-blend-mode: difference;
  color: #c4c4c4;
  font-size: 8em;
  text-transform: uppercase;
  display: inline;
}
@media only screen and (max-width: 414px) {
  h1 {
    font-size: 1.9em;
  }
}
h2 {
  font-size: 3em;
}
@media only screen and (max-width: 414px) {
  h2 {
    font-size: 1.9em;
  }
}
h3 {
  font-size: 2em;
}
@media only screen and (max-width: 414px) {
  h3 {
    font-size: 1.6em;
  }
}
p {
  font-size: 1.5em;
  line-height: 24px;
  display: inline;
  font-family: Raleway;
}
@media only screen and (max-width: 414px) {
  p {
    font-size: 0.83em;
  }
}
a {
  font-size: 1.5em;
  font-family: Raleway;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 414px) {
  a {
    font-size: 0.83em;
  }
}
a.nav {
  margin-left: 60px;
}
a.nav:hover {
  background-color: #c4c4c4;
  background-blend-mode: difference;
}
a:visited {
  color: #2e2e2e;
}
img {
  height: auto;
  width: auto;
  display: block;
}
input,
textarea {
  margin-left: 6px;
  background: none;
  border: none;
  border-bottom: #f5d1d1 solid 1px;
  width: 326px;
  max-width: 326px;
  min-width: 326px;
  max-height: 250px;
  color: #f5d1d1;
  font-family: Raleway;
  font-size: 1.5em;
}
input:focus,
textarea:focus {
  outline: none;
}
