h1,
h2,
h3,
p,
button {
  mix-blend-mode: difference;
  color: #c4c4c4;
}
h1 {
  font-size: 8em;
}
h2 {
  font-size: 3em;
}
h3,
p {
  font-size: 2em;
}
p {
  margin: 0;
  font-size: 1.5em;
}
a {
  font-size: 1.5em;
}
button {
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
}
