$this: #1f5b30;
$that: #1e98c9;
$tertiary: #c4c4c4;
$background: #f5d1d1;
$text: #2e2e2e;

h1,
h2,
h3,
p,
button {
  color: $background;
  margin: 0;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: Numans;
}

.intro {
  mix-blend-mode: difference;
  color: $tertiary;
}

h1 {
  mix-blend-mode: difference;
  color: $tertiary;
  font-size: 8em;
  @media only screen and (max-width: 414px) {
    font-size: 1.9em;
  }
  text-transform: uppercase;
  display: inline;
}

h2 {
  font-size: 3em;
  @media only screen and (max-width: 414px) {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 2em;
  @media only screen and (max-width: 414px) {
    font-size: 1.6em;
  }
}

p {
  font-size: 1.5em;
  @media only screen and (max-width: 414px) {
    font-size: 0.83em;
    line-height: 12px;
  }
  line-height: 24px;
  display: inline;
  font-family: Raleway;
}

a {
  font-size: 1.5em;
  @media only screen and (max-width: 414px) {
    font-size: 0.83em;
  }
  font-family: Raleway;
  cursor: pointer;
  text-decoration: none;

  &.nav {
    margin-left: 60px;

    &:hover {
      background-color: #c4c4c4;
      background-blend-mode: difference;
    }
  }

  &:visited {
    color: $text;
  }
}

img {
  height: auto;
  width: auto;
  display: block;
}

input,
textarea {
  margin-left: 6px;
  background: none;
  border: none;
  border-bottom: $background solid 1px;
  width: 326px;
  max-width: 326px;
  min-width: 326px;
  max-height: 250px;
  color: $background;
  font-family: Raleway;
  font-size: 1.5em;

  &:focus {
    outline: none;
  }
}
